<div class="flex">
  <div>
    <img src="../assets/images/logo.png" alt="">
    <h1>Shelter</h1>
    <h1>match</h1>
  </div>
  <div>
    <img src="../assets/images/globe.png" alt="">
    <h1>The best things</h1>
    <h1>in life are</h1>
    <h1 class="">"rescued"</h1>
  </div>
  <div>
    <h1>I am currently</h1>
    <img src="../assets/images/bg1.png" alt="">
  </div>
  <div class="bg-pink-500" routerLink="register">
<h1  >Giving a shelter</h1>
  </div>
  <div class="bg-purple-500 pointer-events-auto" routerLink="search">
    <h1 >Looking for a place</h1>
  </div>
  
</div><div class="p-4"><router-outlet></router-outlet></div>